.headerContainer {
    display: flex;
    align-items: center;
}

.headerContent {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
}

.headerImage {
    margin-left: 13px;
    border-radius: 5px;
    border: 2px solid black;
}