.Object {
    color: blue;
    width: max-content;
    padding: 3px 0px;

    transition: all ease-in-out 0.1s;
}

.Object:hover {
    cursor: pointer;
    transform: translateX(5px);

    transition: all ease-in-out 0.1s;
}