.Title {
    display: flex;
    align-items: center;

    font-size: 35px;
    font-weight: bold;
}

.Title img {
    padding-right: 15px;
}

.Description {
    width: 700px;
    padding-top: 5px;
}

.Legend {
    display: flex;
    align-items: center;
}

.Legend img {
    padding-right: 5px;
}